
<%= render partial: 'sakeData', locals:{comment: @comment} %>
  <div class="col-md-4">
    <%= form_for @comment do |f| %> <!---コメントの入力フォーム--->
     <div class="form-group">
      <%= f.hidden_field :jsake_id, value: @comment.jsake_id %>
     </div>
     <div class="form-group">
      <%= f.text_area :body, size: "200×100", class: 'form-control'%>
     </div>
     <div class="form-group">
      <%= f.hidden_field :back_url, value: request.referer %>
     </div>
     <%= f.submit "コメントを投稿する", class: 'btn btn-block btn-success', data:{confirm: "コメントを投稿します、よろしいですか？"}%>
     <% end%>
   </div>
  
  </div>
 </div>
