<!--登録されている銘柄の検索、一覧を表示するためのページです。-->
<div class="all-wrap">
  <!--検索用の入力欄-->
   <div class="container">
     <div class="row">
       <div class="col-md-offset-2 col-md-8 form-inline">
            <%= form_for @search, url: '/tops/search' do |f| %>
           <%= f.text_field :word, class:'form-control', list: "search_history", autocomplete: 'off', size: '85' %>
           <%= f.submit "検索", class: 'btn-lg btn-primary' %>
           <% end %>
       </div>
      </div>
    </div>
  
  <!--ログインしていたら、検索履歴をテキストフィールドに表示-->
  <% if current_user != nil %>
    <datalist id="search_history">
      <% @search_history.each do |sh| %>
        <option><%= sh.word%></option>
      <% end %>
    </datalist>
  <% end %>
  
  
  <div class="container-fluid index-with-search">
    <%= will_paginate %>
    
        <!--銘柄全件を4件ずつ表示-->
        <% @tops.each_slice(4) do |all_sake1, all_sake2, all_sake3, all_sake4| %>
          <div class="row index-row">
            <% [all_sake1, all_sake2, all_sake3, all_sake4].each do |sake|%>
            
              <div class="col-md-3">
                <!--sakeが空白でない場合に実行(each.sliceのエラー対策)-->
                <% if sake != nil %>
                  <div class="thumbnail topic-index-single">
                    <!--日本酒画像-->
                    <%= image_tag sake.image_url.url, class: 'sake' %>
                      <!--銘柄のキャプション-->
                      <span class="caption">
                        <!--銘柄名-->
                        <h4><%= sake.meigara %></h4>
                        
                        <!--銘柄のデータ表-->
                        <table class="table text-nowrap">
                          <tr><th>産地</th><td><%= sake.locaility %></td></tr>
                          <tr><th>精米歩合</th><td><%= sake.seimai_buai %></td></tr>
                          <tr><th>アルコール度数</th><td><%= sake.alcohol_degree %></td></tr>
                          <tr><th>日本酒度</th><td><%= sake.sake_meter_value %></td></tr>
                          <tr><th>酸度</th><td><%= sake.acidity %></td></tr>
                        </table>
                        
                        <% if logged_in? != nil? %>
                          <!--いいねのハートマークとカウント-->
                          <% if !sake.favorite_users.include?(current_user) %>
                            <!---current_userがいいねしていなかったら空白--->
                            <%= link_to favorites_path(jsake_id: sake.id, now_url: request.url), method: :post do %>
                              <%= image_tag 'icons/blank-heart-black.png', class: 'sns-icon' %>
                            <% end %>
                          <% else %>
                            <!--いいねしてたら赤-->
                            <%= link_to unfavorites_path(jsake_id: sake.id, now_url: request.url), method: :delete do %>
                              <%= image_tag 'icons/filled-heart.png', class: 'sns-icon' %>
                            <% end %>
                          <% end %>
                          <!--いいね数の表示-->
                          <span class="badge"><%= sake.favorite_users.count %></span>
                          
                          <!--コメント入力画面へのリンク-->
                          <%= link_to new_comment_path(jsake_id: sake.id), method: :get do %>
                            <%= image_tag 'icons/comment-black.png', class: 'sns-icon' %>
                          <% end %>
                        <% end %>
                        <!--モーダル形式のコメント欄-->
                        <div class="view-comment">
                          <button class="btn btn-primary" data-toggle="modal" data-target="#all_sake<%= sake.id %>">
                            コメントを見る
                          </button>
                          <span class="badge"><%= sake.comments.count %>件</span>
                        </div>
                        
                        <div class="modal fade" id="all_sake<%= sake.id %>">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4><%= sake.meigara%></h4>
                                <button class="close" data-dismiss="modal">
                                  <span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <% sake.comments.each do |c|%>
                                <p><%= c.body %></p>
                                <% end %>
                              </div>
                                <div class="modal-footer">
                                  <button class="btn btn-primary btn-sm" data-dismiss="modal">閉じる</button>
                                </div>
                            </div>
                          </div>
                        </div>
                        
                      </span>
                  </div>
                <% end %><!--if sake != nilのend -->
              </div>
            <% end %><!--eachのend -->
          </div>
      <% end %><!--each.sliceのend -->
    <%= will_paginate %>
  </div>

</div>
