
 <div class"container-fluid top_search">
   <div class="row">
     <div class="col-md-offset-3 col-md-6 top_search form-inline">
         
         <%= form_for @search, url: '/tops/search' do |f| %>
         
         <%= f.text_field :word, class:'form-control', list: "search_history", autocomplete: 'off', size: '60' %>
         <%= f.submit "検索", class: 'btn-lg btn-primary' %>
         <% end %>

     </div>
   </div>
 </div>

<!--ログインしていたら、検索履歴を表示-->
<% if current_user != nil %>
<datalist id="search_history">
    <% @search_history.each do |sh| %>
    <option><%= sh.word%></option>
    <% end %>
</datalist>
<% end %>





  <div class="container-fluid top-index-wrapper">
    
        <!---登録銘柄一覧--->
    <div class="row">
      <% @tops.each_slice(4) do |all_sake1, all_sake2, all_sake3, all_sake4| %>
    
      <% [all_sake1, all_sake2, all_sake3, all_sake4].each do |sake|%>
      <div class="col-md-3">
        <% if sake != nil %> <!---sake1が空白でない(each.sliceのエラー対策)--->
        <div class="thumbnail shadow topic-index-single">
        
        <!---画像と銘柄名--->
        <%= image_tag sake.image_url.url, class: 'sake' %>
        <br>
        <div class="caption">
        <h4 class="well"><%= sake.meigara %></h4>
        
        <!---いいねのハートマークとカウント,コメントリンク--->
        <% if !sake.favorite_users.include?(current_user) %>　<!---current_userがいいねしてたら黒、していなかったら空白--->
          <%= link_to favorites_path(jsake_id: sake.id, now_url: request.url), method: :post do %>
          <%= image_tag 'icons/blank-heart.png', class: 'sns-icon' %>
          <% end %>
        <% else %>
          <%= link_to unfavorites_path(jsake_id: sake.id, now_url: request.url), method: :delete do %>
          <%= image_tag 'icons/filled-heart.png', class: 'sns-icon' %>
          <% end %>
        <% end %>
         <%= sake.favorite_users.count %>
        <%= image_tag 'icons/comment.png', class: 'sns-icon' %>
        
        <!---産地～酸度--->
        <h5>産地：<%= sake.locaility %>&emsp;&emsp;精米歩合：<%= sake.seimai_buai %></h5>
        <h5>アルコール度数：<%= sake.alcohol_degree %></h5>
        <h5>日本酒度：<%= sake.sake_meter_value %>&emsp;&emsp;酸度：<%= sake.acidity%></h5>
        </div>
        <% end %>
        </div>
      </div>

      <% end %>
    <% end %>
    </div>
    
    <%= will_paginate %>

  </div>