
<!--銘柄の検索結果を表示、再検索するためのページです。-->
  <%= render partial: 'search' %>
  
 <div class="container-fluid index-with-search">
    <%= will_paginate @result %>
    
        <!--銘柄全件を4件ずつ表示-->
        <% @result.each_slice(4) do |ret_sake1, ret_sake2, ret_sake3, ret_sake4| %>
          <div class="row index-row">
            <% [ret_sake1, ret_sake2, ret_sake3, ret_sake4].each do |sake|%>
            <%= render partial: 'tops/list',  locals: {sake: sake} %>

            <% end %><!--eachのend -->
          </div>
      <% end %><!--each.sliceのend -->
    <%= will_paginate @result %>
    
    <div class="graph-wrapper">
      <%= scatter_chart @search_plot, legend: false, class: 'center-block' %>
    </div>
  </div>


