<div class="top">
<!--銘柄の検索結果を表示、再検索するためのページです。-->
  <!--検索用の入力欄-->
   <div class="container">
     <div class="row">
       <div class="col-md-offset-2 col-md-8 form-inline">
            <%= form_for @search, url: '/tops/search' do |f| %>
           <%= f.text_field :word, class:'form-control', list: "search_history", autocomplete: 'off', size: '85' %>
           <%= f.submit "検索", class: 'btn-lg btn-primary' %>
           <% end %>
       </div>
      </div>
    </div>
  
  <!--ログインしていたら、検索履歴をテキストフィールドに表示-->
  <% if current_user != nil %>
    <datalist id="search_history">
      <% @search_history.each do |sh| %>
        <option><%= sh.word%></option>
      <% end %>
    </datalist>
  <% end %>
  
  
 <div class="container-fluid index-with-search">
    <%= will_paginate @result %>
    
        <!--銘柄全件を4件ずつ表示-->
        <% @result.each_slice(4) do |ret_sake1, ret_sake2, ret_sake3, ret_sake4| %>
          <div class="row index-row">
            <% [ret_sake1, ret_sake2, ret_sake3, ret_sake4].each do |sake|%>
            
              <div class="col-md-3">
                <!--sakeが空白でない場合に実行(each.sliceのエラー対策)-->
                <% if sake != nil %>
                  <div class="thumbnail topic-index-single">
                    <!--日本酒画像-->
                    <%= image_tag sake.image_url.url, class: 'sake' %>
                      <!--銘柄のキャプション-->
                      <span class="caption">
                        <!--銘柄名-->
                        <h4><%= sake.meigara %></h4>
                        
                        <!--銘柄のデータ表-->
                        <table class="table text-nowrap">
                          <tr><th>産地</th><td><%= sake.locaility %></td></tr>
                          <tr><th>精米歩合</th><td><%= sake.seimai_buai %></td></tr>
                          <tr><th>アルコール度数</th><td><%= sake.alcohol_degree %></td></tr>
                          <tr><th>日本酒度</th><td><%= sake.sake_meter_value %></td></tr>
                          <tr><th>酸度</th><td><%= sake.acidity %></td></tr>
                        </table>
                        
                        <!--いいねのハートマークとカウント-->
                        <% if !sake.favorite_users.include?(current_user) %>
                          <!---current_userがいいねしていなかったら空白--->
                          <%= link_to favorites_path(jsake_id: sake.id, now_url: request.url), method: :post do %>
                            <%= image_tag 'icons/blank-heart-black.png', class: 'sns-icon' %>
                          <% end %>
                        <% else %>
                          <!--いいねしてたら赤-->
                          <%= link_to unfavorites_path(jsake_id: sake.id, now_url: request.url), method: :delete do %>
                            <%= image_tag 'icons/filled-heart.png', class: 'sns-icon' %>
                          <% end %>
                        <% end %>
                        <!--いいね数の表示-->
                        <span class="badge"><%= sake.favorite_users.count %></span>
                        
                        <!--コメント入力画面へのリンク-->
                        <%= link_to new_comment_path(jsake_id: sake.id), method: :get do %>
                          <%= image_tag 'icons/comment-black.png', class: 'sns-icon' %>
                        <% end %>
                        
                        <!--アコーディオン形式のコメント欄(モーダル形式を採用の方向)-->
                        <span class="view-comment">
                          <a class="btn btn-primary" data-toggle="collapse" href="#reg_sake<%= sake.id%>" role="button" aria-expanded="false" aria-controls="collapseExample">
                            コメントを見る
                          </a>
                        </span>
                        
                        <div class="collapse" id="reg_sake<%= sake.id%>">
                          <div class="card card-body">
                            <% sake.comments.each do |c|%>
                              <div><%= c.body %></div>
                            <% end %>
                          </div>
                        </div>
                        
                      </span>
                  </div>
                <% end %><!--if sake != nilのend -->
              </div>
            <% end %><!--eachのend -->
          </div>
      <% end %><!--each.sliceのend -->
    <%= will_paginate @result %>
  </div>

</div>
