<!--自分で登録、いいねした日本酒の一覧、いいねした日本酒の分布図が閲覧できるページです。-->
  
  <div class="container-fluid tab-menu">
    <div class="row first-row">
      <ul class="nav nav-pills nav-justified">
       <li class="active"><a href="#favo" data-target="#favo" data-toggle="tab">お気に入り一覧</a></li>
       <li><a href="#plot" data-target="#plot" data-toggle="tab">お気に入り分布図</a></li>
       <li><a href="#reg" data-target="#reg" data-toggle="tab">登録一覧</a></li>
       <li><a href="#userInfo" data-target="#userInfo" data-toggle="tab">ユーザ情報</a></li>
      </ul>
    </div>
  </div>

  <div class="tab-content">
    <!--お気に入り銘柄の一覧-->
    <div class="tab-pane active" id="favo">
      <div class="container-fluid index-under-tab">
        <%= will_paginate(@favorite_jsakes, :previous_label => '前へ', :next_label => '後へ') %>
    
        <!--登録した銘柄を4件ずつ表示-->
        <% @favorite_jsakes.each_slice(4) do |favo_sake1, favo_sake2, favo_sake3, favo_sake4| %>
          <div class="row index-row">
            <% [favo_sake1, favo_sake2, favo_sake3, favo_sake4].each do |sake|%>

              <%= render partial: 'tops/list',  locals: {sake: sake, reg: 'not'} %>

            <% end %><!--eachのend -->
          </div>
        <% end %><!--each.sliceのend -->
        <%= will_paginate(@favorite_jsakes, :previous_label => '前へ', :next_label => '後へ') %>
      </div>
    </div>
      
    <!--登録銘柄の一覧-->
    <div class="tab-pane" id="reg">
      <div class="container-fluid index-under-tab">
        <%= will_paginate(:previous_label => '前へ', :next_label => '後へ') %>
    
        <!--銘柄全件を4件ずつ表示-->
        <% @mypages.each_slice(4) do |reg_sake1, reg_sake2, reg_sake3, reg_sake4| %>
          <div class="row index-row">
            <% [reg_sake1, reg_sake2, reg_sake3, reg_sake4].each do |sake|%>
              <%= render partial: 'tops/list',  locals: {sake: sake, reg: 'registered'} %>
            <% end %><!--eachのend -->
          </div>
        <% end %><!--each.sliceのend -->
        <%= will_paginate %>
      </div>
    </div>
      
    <div class="tab-pane" id="plot">
      
        <%= render partial: 'graphs/scatterPlot'%>
        <!--<%= scatter_chart @plot, messages: {empty: "いいねしている日本酒がありません"},legend: false, class: 'center' %>-->
      
    </div>
    
    <div class="tab-pane" id="userInfo">
      <div class="container-fluid graph-wrapper">
        <div class="row">
          <h4>ユーザ名：<%= current_user.name %></h4>
          <h4>メールアドレス：<%= current_user.email %></h4>
          <h4>性別：<%= current_user.gender.gender_name %></h4>
          <h4>誕生日：<%= current_user.birthday %></h4>
          <%= link_to 'ユーザ情報修正', edit_user_path(current_user.id), class: 'btn-sm btn-success'%>
        </div>
      </div>
    </div>
    
    
  </div>