<!--自分で登録、いいねした日本酒の一覧、いいねした日本酒の分布図が閲覧できるページです。-->
  
  <div class="container-fluid tab-menu">
    <div class="row">
      <ul class="nav nav-pills nav-justified">
       <li class="active"><a href="#favo" data-target="#favo" data-toggle="tab">お気に入り一覧</a></li>
       <li><a href="#plot" data-target="#plot" data-toggle="tab">お気に入り分布図</a></li>
       <li><a href="#reg" data-target="#reg" data-toggle="tab">登録一覧</a></li>
      </ul>
    </div>
  </div>

  <div class="tab-content">
    <!--お気に入り銘柄の一覧-->
    <div class="tab-pane active" id="favo">
      <div class="container-fluid index-under-tab">
        <%= will_paginate @favorite_jsakes %>
    
        <!--登録した銘柄を4件ずつ表示-->
        <% @favorite_jsakes.each_slice(4) do |favo_sake1, favo_sake2, favo_sake3, favo_sake4| %>
          <div class="row index-row">
            <% [favo_sake1, favo_sake2, favo_sake3, favo_sake4].each do |sake|%>

              <%= render partial: 'tops/list',  locals: {sake: sake} %>

            <% end %><!--eachのend -->
          </div>
        <% end %><!--each.sliceのend -->
        <%= will_paginate @favorite_jsakes %>
      </div>
    </div>
      
    <!--登録銘柄の一覧-->
    <div class="tab-pane" id="reg">
      <div class="container-fluid index-under-tab">
        <%= will_paginate %>
    
        <!--銘柄全件を4件ずつ表示-->
        <% @mypages.each_slice(4) do |reg_sake1, reg_sake2, reg_sake3, reg_sake4| %>
          <div class="row index-row">
            <% [reg_sake1, reg_sake2, reg_sake3, reg_sake4].each do |sake|%>
            
              <div class="col-md-3 col-xs">
                <!--sakeが空白でない場合に実行(each.sliceのエラー対策)-->
                <% if sake != nil %>
                  <div class="thumbnail">
                    <!--日本酒画像-->
                    <% if sake.image.attached? %>
                      <%= image_tag sake.image %>
                    <% end %>
                      <!--銘柄のキャプション-->
                      <span class="caption">
                        <!--銘柄名-->
                        <h4><%= sake.meigara %></h4>
                        
                        <!--銘柄のデータ表-->
                        <table class="table text-nowrap">
                          <tr><th>産地</th><td><%= sake.locaility %></td></tr>
                          <tr><th>精米歩合</th><td><%= sake.seimai_buai %></td></tr>
                          <tr><th>アルコール度数</th><td><%= sake.alcohol_degree %></td></tr>
                          <tr><th>日本酒度</th><td><%= sake.sake_meter_value %></td></tr>
                          <tr><th>酸度</th><td><%= sake.acidity %></td></tr>
                          <tr><th>甘辛評価</th><td><%= sake.amakara %></td></tr>
                        </table>
                        
                        <div class="sns-icon" id="favo_<%= sake.id %>">
                          <!--いいねのハートマークとカウント-->
                          <%= render partial: 'mypages/mypage', locals: {sake: sake} %>
                        </div>
                        
                        <!--コメント入力画面へのリンク-->
                        <%= link_to new_comment_path(jsake_id: sake.id), method: :get do %>
                          <%= image_tag 'icons/comment-black.png', class: 'sns-icon' %>
                        <% end %>
                        
                        <!--編集へのリンク-->
                        <%= link_to  edit_jsake_path(id: sake.id) do %>
                          <%= image_tag 'icons/edit.png', class: 'sns-icon' %>
                        <% end %>
                        
                        <!--モーダル形式のコメント欄-->
                        <div class="view-comment">
                          <button class="btn btn-primary" data-toggle="modal" data-target="#reg_sake<%= sake.id %>">
                            コメント:<%= sake.comments.count %>件
                          </button>
                        </div>
                        
                        <div class="modal fade" id="reg_sake<%= sake.id %>">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4><%= sake.meigara%></h4>
                                <button class="close" data-dismiss="modal">
                                  <span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <% sake.comments.each do |c|%>
                                <p><%= c.body %></p>
                                <% end %>
                              </div>
                                <div class="modal-footer">
                                  <button class="btn btn-primary btn-sm" data-dismiss="modal">閉じる</button>
                                </div>
                            </div>
                          </div>
                        </div>
                        <!--モーダル形式のコメント欄-->
                        
                      </span>
                  </div>
                <% end %><!--if sake != nilのend -->
              </div>
            <% end %><!--eachのend -->
          </div>
        <% end %><!--each.sliceのend -->
        <%= will_paginate %>
      </div>
    </div>
      
      
    <div class="tab-pane" id="plot">
      <div class="container-fluid graph-wrapper">
        <%= scatter_chart @plot, messages: {empty: "いいねしている日本酒がありません"},legend: false, class: 'center' %>
      </div>
      <h5 id="cation">注：このグラフの傾向はあくまで「目安」です。<>飲酒時の体調、おつまみなどによって感じ方に違いが出ることがあります。</h5>
    </div>
  </div>