<!DOCTYPE html
<html>
  <head>
    <title>Sake</title>
    <%= favicon_link_tag('icons/favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>
    
      <header>
        <div class="header-content">
          <div class="logo"><!--日本酒-通-のロゴ・トップページへのリンク-->
            <%= link_to root_path do %>
            <%= image_tag "icons/text-logo.png" %>
            <% end %>
          </div>
          <nav>
              <ul class="nav-ul">
              <!--ログインしていたら、マイページ、銘柄登録、ログアウトを表示-->
              <% if logged_in? %>
                <li class="nav-li"><%= link_to 'マイページ', mypage_path%></li>
                <li class="nav-li"><%= link_to '日本酒登録', new_jsake_path %></li>
                <li class="nav-li"><%= link_to 'ログアウト', logout_path, method: :delete, data: { confirm: "ログアウトします。よろしいですか？"} %></li>
                <% else %>
                <!--ログインしていなかったら、ログイン、ユーザ登録-->
                <li class="nav-li"><%= link_to 'ログイン', login_path %></li>
                <li class="nav-li"><%= link_to '新規登録', new_user_path %></li>
              <% end %>
              </ul>
            </nav>
          </div>
      </div>
      </header>

      <%= yield %>

      <!--ここに各ページの内容が埋め込まれる-->
    <script>　//メッセージバーの表示5秒
      $(function(){
        $(".alert").fadeOut(5000);
      });
      
      //アイコン説明用のツールチップ
      $('[data-toggle=tooltip]').tooltip();
    </script>
      
  </body>
</html>
